{% extends "viewflow/flow/task.html" %}
{% load i18n %}

{% block information_cards %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ information_card_title }}</span>

    {% include "grant_management/grantmanagement/information_card_section.html" with outer_p="Have you already committed to purchasing exhibition space for "|add:activation.process.grant_application.event.name|add:"?" inner_p=activation.process.grant_application.is_already_committed_to_event|yesno:"Yes,No" highlighted_p="A business cannot have committed to an event before applying for a TAP grant" %}

  </div>
</div>
{% endblock %}