{% extends "core/base.html" %}

{% block content %}

<h2 class="govuk-heading-m">{{ page.heading }}</h2>
<dl class="govuk-summary-list">
  {% for row in application_summary %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">{{ row.key }}</dt>
      <dd class="govuk-summary-list__value">{{ row.value }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ row.action.url }}">
          {{ row.action.text }}<span class="govuk-visually-hidden"> {{ row.key }}</span>
        </a>
      </dd>
    </div>
  {% endfor %}
</dl>

{% include "core/govt_uk_form.html" %}

{% endblock %}
