{% if company %}
  <!--Company data-->
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Company Registration Number</th>
        <td class="govuk-table__cell">{{ company.dnb_service_duns_number }}</td>
      </tr>
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Company Name</th>
        <td class="govuk-table__cell">{{ company.name }}</td>
      </tr>
    </tbody>
  </table>
{% endif %}