{% extends "core/base.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ page.panel_title }}</h1>
        <div class="govuk-panel__body">
          {{ page.panel_ref_text }}<br><strong>{{ view.kwargs.process_pk }}</strong>
        </div>
      </div>

      <p>{{ page.confirmation_email_text }}</p>

      <h2 class="govuk-heading-m">{{ page.next_steps_heading }}</h2>
      <p>{{ page.next_steps_line_1 }}</p>
      <p>{{ page.next_steps_line_2 }}</p>

    </div>
  </div>

{% endblock %}
