{% extends 'core/base.html' %}
{% load material_form %}

{% block content %}

  <h2 class="govuk-heading-m">{{ page.page_heading }}</h2>

  {% include "grant_applications/company_table.html" %}

  <form class="form" id="idCompanyForm" action="" method="POST">
    {% csrf_token %}
    {% include "core/govt_uk_form.html" %}
    {{ activation.management_form }}
    <div class="right">
      <button class="govuk-button" data-module="govuk-button">
        {{ page.button_text | default:"Continue" }}
      </button>
    </div>
  </form>

{% endblock %}
