@import "./node_modules/govuk-frontend/govuk/all";

.govuk-button--blue {
  background-color: govuk-colour("blue");
  box-shadow: 0 $govuk-border-width-form-element 0 govuk-shade(govuk-colour("dark-blue"), 60%);

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("white");
  }

  // alphagov/govuk_template includes a specific a:link:focus selector
  // designed to make unvisited links a slightly darker blue when focussed, so
  // we need to override the text colour for that combination of selectors so
  // so that unvisited links styled as buttons do not end up with dark blue
  // text when focussed.
  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: govuk-colour("white");
    }
  }

  &:hover {
    background-color: govuk-shade(govuk-colour("dark-blue"), 20%);

    &[disabled] {
      background-color: govuk-colour("blue");
    }
  }
}