<form class="form" method="POST">

  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
          {% for error in form.non_field_errors %}
          <li>
              {{ error }}
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% for field in form %}
      <div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="{{ field.name }}">
              {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
          </label>
          <span id="{{ field.name }}-hint" class="govuk-hint">
            {{ field.help_text }}{% if field.field.required == False %} (optional){% endif %}
          </span>
          {% if field.errors %}
              {% for error in field.errors %}
                  <span id="{{ field.name }}-issued-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                      {{ error|escape }}
                  </span>
              {% endfor %}
          {% endif %}
          {{ field }}
      </div>
  {% endfor %}

  <button class="govuk-button" data-module="govuk-button">
    {{ page.form_button_text | default:"Continue" }}
  </button>

</form>
