{% load i18n viewflow viewflow_frontend material_form material_frontend %}

<table class="{{ class|default:'default' }}">
  {% for col in col_tags %}<col {{ col }} >{% endfor %}

  <thead>
    <tr class="{{ headers_class }}">
      {% for header in headers %}
        <th>{{ header|safe }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr class="{{ rows_class }}">
        {% for cell in row %}
          <td>{{ cell|linebreaksbr }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
