{% extends 'grant_applications/generic_form_page.html' %}
{% load static %}

{% block form %}
 <form class="form" method="POST" novalidate>

  {% csrf_token %}

  {% include "core/govt_uk_form_non_field_errors.html" with non_field_errors=form.non_field_errors %}
  <div class="govuk-grid-row">
    <!-- Filters -->
    <div class="govuk-grid-column-one-third govuk-tag--grey">
      <p class="govuk-body"></p>
      {% include "core/govt_uk_form_field.html" with field=form.filter_by_name %}
      {% include "core/govt_uk_form_field.html" with field=form.filter_by_sector %}
      {% include "core/govt_uk_form_field.html" with field=form.filter_by_country %}
      {% include "core/govt_uk_form_field.html" with field=form.filter_by_start_date %}
      {% include "core/govt_uk_form_button.html" with button_class="govuk-button govuk-button--blue" button_name="apply_filters_button" button_text="Apply filters" %}
      {% include "core/govt_uk_form_button.html" with button_class="govuk-button govuk-button--secondary" button_name="clear_filters_button" button_text="Clear filters" %}
      <p class="govuk-body">We found <strong>{{ form.event.field.choices|length }}</strong> matching events.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <!-- Event select -->
      {% include "core/govt_uk_form_field.html" with field=form.event %}
      {% include "core/govt_uk_form_button.html" with button_text=page.form_button_text %}
    </div>
  </div>



  </form>

{% endblock %}
