{% extends "core/base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'grant-applications:index' %}" id="id_back_link" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">What you will need</h2>

        <p class="govuk-body">
          To complete the application you will need the following information to hand:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>details of the event you are interested in exhibiting at</li>
          <li>details of your business and the products or services it provides</li>
          <li>the business turnover for the last 3 fiscal years</li>
        </ul>

        <p class="govuk-body">
          In addition you will also need to provide details of:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the event you are interested in exhibiting at</li>
          <li>any additional financial contributions to your costs of exhibiting at the event</li>
          <li>any State Aid received over the last 3 years</li>
          <li>any DIT trade advisors or Trade Challenge Partners (TCPs) you are in contact with</li>
          <li>any export experience you may have and your export strategy</li>
          <li>any trade show experience you may have</li>
        </ul>

        <form action="{% url 'grant-applications:search-company' %}">
          {% include "core/govt_uk_form_button.html" with button_text="Continue" %}
        </form>
      </div>

    </div>
{% endblock %}