{% extends "grant_applications/generic_form_page.html" %}

{% block forms %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-body">
      To complete the application you’ll need:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>details of the event you’re interested in exhibiting at</li>
      <li>details of your business and the products or services it provides</li>
      <li>the business turnover for the last 3 fiscal years</li>
    </ul>

    <p class="govuk-body">
      In addition you will also need to provide details of:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>any state aid received in the last 3 years</li>
      <li>your trade show experience</li>
      <li>your export experience</li>
      <li>your export strategy and export plan, if you have one</li>
      <li>any DIT trade advisors or DIT-approved trade associations (also known as Trade Challenge Partners) that you’re in contact with</li>
    </ul>

    {% include 'core/govt_uk_details.html' with summary_text='What are DIT trade advisors and TCPs?' text='The DIT offers support to businesses considering international trade through International Trade Advisors. They act as independent mentors to both those new to, and experienced in exporting. They can help with everything from preparing for trade shows, creating an export growth action plan, advising on which markets are best for your business, and putting you touch with contacts who can help your international expansion.<br><br>Trade Challenge Partners, or TCPs, are trade associations and other industry representative organisations focused on overseas trade that are accredited by the DIT. Reflecting every sector and industry in the UK, accreditation allows these DIT partners to work with us to deliver customer-focused trade shows and events.' %}

    {% url 'grant-applications:new-application-email' as application_email_href %}
    {% include "core/govt_uk_link_button.html" with text="Continue" class="govuk-button" href=application_email_href %}

  </div>

</div>
{% endblock %}