{% extends "grant_applications/generic_form_page.html" %}

{% block heading_text %}
  <p class="govuk-body govuk-!-margin-bottom-6">We’ve sent an email to <strong>{{ view.user_email }}</strong>. Click on the link to confirm your address and return to this service.</p>
  <p class="govuk-body govuk-!-margin-bottom-6">If your email doesn’t arrive within 5 minutes, check your spam <br>
    folder – or <a href="{% url 'grant-applications:application-email' %}">try resending the link</a>.</p>
{% endblock %}


{% block forms %}
{% endblock %}