{% extends "core/base.html" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Event Evidence Upload Complete</h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>{{ grantapplicationlink.pk }}</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">Your event evidence will review by Tradeshow Access Programme team.</p>
        <p class="govuk-body">They will contact you in the next 2 to 3 weeks using the details you’ve provided to confirm whether your application has been successful or to ask you for any further information.</p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
