{% extends 'grant_applications/generic_form_page.html' %}

{% block content %}

  <h2 class="govuk-heading-l">{{ page.heading }}</h2>

  <form class="form" method="POST" novalidate>

    {% csrf_token %}

    <div class="govuk-form-group{% if form.is_first_exhibit_at_event.errors %} govuk-form-group--error{% endif %}">

      {% include "core/govt_uk_form_field_label.html" with field=form.is_first_exhibit_at_event %}
      {% include "core/govt_uk_form_field_hint.html" with field=form.is_first_exhibit_at_event %}
      {% include "core/govt_uk_form_field_errors.html" with field=form.is_first_exhibit_at_event %}

      <fieldset class="govuk-fieldset">

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

          <div class="govuk-radios__item">
            {% ifequal form.is_first_exhibit_at_event.value|cut:"'" form.is_first_exhibit_at_event.subwidgets.0.data.value|cut:"'" %}
              <input class="govuk-radios__input" id="id_is_first_exhibit_at_event_01" name="is_first_exhibit_at_event" type="radio" value="True" checked>
            {% else %}
              <input class="govuk-radios__input" id="id_is_first_exhibit_at_event_02" name="is_first_exhibit_at_event" type="radio" value="True">
            {% endifequal %}
            <label class="govuk-label govuk-radios__label" for="id_is_first_exhibit_at_event_0">
              {{ form.is_first_exhibit_at_event.subwidgets.0.choice_label }}
            </label>
          </div>

          <div class="govuk-radios__item">
            {% ifequal form.is_first_exhibit_at_event.value|cut:"'" form.is_first_exhibit_at_event.subwidgets.1.data.value|cut:"'" %}
              <input class="govuk-radios__input" id="id_is_first_exhibit_at_event_11" name="is_first_exhibit_at_event" type="radio" value="False" data-aria-controls="number_of_times_exhibited_at_event-conditional" checked>
            {% else %}
              <input class="govuk-radios__input" id="id_is_first_exhibit_at_event_12" name="is_first_exhibit_at_event" type="radio" value="False" data-aria-controls="number_of_times_exhibited_at_event-conditional">
            {% endifequal %}
            <label class="govuk-label govuk-radios__label" for="id_is_first_exhibit_at_event_1">
              {{ form.is_first_exhibit_at_event.subwidgets.1.choice_label }}
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="number_of_times_exhibited_at_event-conditional">
            {% include "core/govt_uk_form_field.html" with field=form.number_of_times_exhibited_at_event %}
          </div>

        </div>
      </fieldset>
    </div>


    <button class="govuk-button" data-module="govuk-button">
      "Continue"
    </button>

  </form>


{% endblock %}
