{% extends 'core/base.html' %}

{% block breadcrumbs %}
  {% if back %}
    <a href="{{ back.url }}" id="id_back_link" class="govuk-back-link">{{ back.text }}</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% block headings %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if page.caption %}<span class="govuk-caption-l" id="id_page_caption">{{ page.caption }}</span>{% endif %}
        <h2 class="govuk-heading-l" id="id_page_heading">{{ page.heading|default:"Tradeshow Access Programme" }}</h2>
        {% block heading_text %}
          {% if page.heading_text %}
            <p class="govuk-body govuk-!-margin-bottom-6">
              {{ page.heading_text }}
            </p>
          {% endif %}
        {% endblock heading_text %}
      </div>
    </div>
  {% endblock %}

  {% block forms %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block before_govuk_form %}{% endblock %}
      {% block govuk_form %}{% include "core/govt_uk_form.html" %}{% endblock %}
      {% block after_govuk_form %}{% endblock %}
    </div>
  </div>
  {% endblock %}

{% endblock %}

{% block after_content %}{% endblock %}