{% extends 'core/base.html' %}

{% block breadcrumbs %}
  {% if back %}
    <a href="{{ back.url }}" id="id_back_link" class="govuk-back-link">{{ back.text }}</a>
  {% endif %}
{% endblock %}

{% block before_content %}{% endblock %}

{% block content %}

{% block headings %}
  {% if page.caption %}<span class="govuk-caption-l">{{ page.caption }}</span>{% endif %}
  <h2 class="govuk-heading-l">{{ page.heading|default:"Tradeshow access program" }}</h2>
{% endblock %}

{% block form %}
  {% include "core/govt_uk_form.html" %}
{% endblock %}

{% endblock %}

{% block after_content %}{% endblock %}