{% extends "core/base.html" %}

{% block content %}
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Apply for a Tradeshow Access Programme (TAP) grant</h2>

        <p class="govuk-body">
          Use this service to apply for a TAP grant.
        </p>

        <p class="govuk-body">
          These grants help <a href="https://www.gov.uk/guidance/tradeshow-access-programme#eligibility" class="govuk-link" target="_blank">eligible businesses</a> with the costs of attending TAP-supported events to promote your business in export markets. Following the event, participants need to provide evidence of these costs in order to claim the allocated grant.
        </p>

        <h3 class="govuk-heading-m">Grant eligibility</h3>
        <p class="govuk-body">
          To be eligible for a TAP grant you must be either:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a small or medium-sized enterprise (SME) with fewer than 250 employees, and an annual turnover not exceeding €50 million, or an annual balance sheet total not exceeding €43 million</li>
          <li>a business or organisation with fewer than 250 employees and an annual turnover of between £83,000 and £5 million</li>
          <li>a UK university, UK government-funded centre of higher or further learning, or UK government-funded research organisation</li>
        </ul>

        <p class="govuk-body">In addition, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be based in the UK (excluding Isle of Man or the Channel Islands unless UK registered)</li>
          <li>be within the State Aid limit of €200,000 over any rolling 3-year period</li>
          <li>not receive any other contributions towards eligible costs the TAP grant will offset</li>
          <li>not have booked your place at the event before applying for the TAP grant</li>
        </ul>

        <p class="govuk-body">The application takes around 45 to 60 minutes.</p>

        {% url 'grant-applications:before-you-start' as before_you_start_href %}
        {% include "core/govt_uk_start_link_button.html" with a_text="Apply now" a_href=before_you_start_href %}
        {% url 'grant-applications:continue-application-email' as continue_applicaiton_href %}
        {% include 'core/govt_uk_link_button.html' with text='Continue an existing application' href=continue_applicaiton_href class='govuk-details' %}
      </div>

    </div>
{% endblock %}