{% extends 'grant_applications/generic_form_page.html' %}

{% block govuk_form %}

<form class="form" method="POST" novalidate>
  {% csrf_token %}
  {% include "core/govt_uk_form_non_field_errors.html" with non_field_errors=form.non_field_errors %}

  {% include "core/govt_uk_form_field.html" with field=form.company_type %}
  {% include "core/govt_uk_form_field.html" with field=form.company_name %}

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">Business address</h1>
      <div class="govuk-hint govuk-!-margin-bottom-0">Please enter the UK address the business is registered at</div>
    </legend>
    <div class="govuk-form-group govuk-!-display-inline {% if form.company_postcode.errors %} govuk-form-group--error{% endif %}">
      {% include "core/govt_uk_form_field_label.html" with field=form.company_postcode %}
      {% include "core/govt_uk_form_field_hint.html" with field=form.company_postcode %}
      {% include "core/govt_uk_form_field_errors.html" with field=form.company_postcode %}
      {{ form.company_postcode }}
      {% include "core/govt_uk_link_button.html" with href='#' class='govuk-button moj-button-menu__item govuk-button--secondary govuk-!-margin-left-5' text='Look up' %}
    </div>
  </fieldset>

  {% include "core/govt_uk_form_field.html" with field=form.time_trading_in_uk %}
  {% include "core/govt_uk_form_field.html" with field=form.manual_registration_number %}
  {% include "core/govt_uk_form_field.html" with field=form.manual_vat_number %}
  {% include "core/govt_uk_form_field.html" with field=form.website %}

  {% include "core/govt_uk_form_button.html" with button_class=button_class button_name=button_name button_text=button_text %}
</form>

{% endblock %}