{% extends 'grant_applications/generic_form_page.html' %}

{% block forms %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "core/govt_uk_form_non_field_errors.html" with non_field_errors=form.non_field_errors %}

    <div class="hmcts-search govuk-!-margin-bottom-8">
      <form class="form" method="POST" novalidate>
        {% csrf_token %}
        {% include "core/govt_uk_form_fields.html" with form=form %}
        {% include "core/govt_uk_form_button.html" with button_text=button_text button_class='govuk-button hmcts-search__button' %}
      </form>
    </div>

    <p class="govuk-body">If you are a partnership, sole trader or other business entity, we may not have access to those records. If this is the case, <a id="id_manual_company_details" href="{% url 'grant-applications:manual-company-details' pk=grantapplicationlink.pk %}" class="govuk-link">enter your details manually</a>.</p>

  </div>
</div>
{% endblock %}
