{% extends "grant_applications/generic_form_page.html" %}

{% block breadcrumbs %}
  <a href="{{ back.url }}" id="id_back_link" class="govuk-back-link">{{ back.text }}</a>
{% endblock %}

{% block forms %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-body">
      Emails sent to this address may contain personal sensitive information. We will send a verification email to this email address. This email address must be verified by clicking the link in the verification email before the application can be submitted
    </p>

    {% url 'grant-applications:before-you-start' as start_new_href %}
    {% include "core/govt_uk_link_button.html" with text="Start a new application" class="govuk-button" href=start_new_href %}
    {% include 'core/govt_uk_link_button.html' with text='Continue an existing application' href=start_new_href class='govuk-details' %}

  </div>

</div>
{% endblock %}