{% extends 'grant_applications/generic_form_page.html' %}

{% block govuk_form %}
<form class="form" method="POST" novalidate>
  {% csrf_token %}
  {% include "core/govt_uk_form_non_field_errors.html" with non_field_errors=form.non_field_errors %}
  {% include "core/govt_uk_form_field.html" with field=form.interest_in_event_description %}

  <div class="govuk-form-group{% if form.is_in_contact_with_tcp.errors %} govuk-form-group--error{% endif %}">
    {% include "core/govt_uk_form_field_label.html" with field=form.is_in_contact_with_tcp %}
    {% include "core/govt_uk_form_field_hint.html" with field=form.is_in_contact_with_tcp %}
    {% include "core/govt_uk_form_field_errors.html" with field=form.is_in_contact_with_tcp %}

    <fieldset class="govuk-fieldset">

      {% include "core/govt_uk_details.html" with text=form.is_in_contact_with_tcp.field.widget.attrs.details.text summary_text=form.is_in_contact_with_tcp.field.widget.attrs.details.summary_text %}

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

        <div class="govuk-radios__item">
          {% ifequal form.is_in_contact_with_tcp.value|cut:"'" form.is_in_contact_with_tcp.subwidgets.0.data.value|cut:"'" %}
            <input class="govuk-radios__input" id="id_is_in_contact_with_tcp_01" name="is_in_contact_with_tcp" type="radio" value="True" data-aria-controls="tcp_details-conditional" checked>
          {% else %}
            <input class="govuk-radios__input" id="id_is_in_contact_with_tcp_02" name="is_in_contact_with_tcp" type="radio" value="True" data-aria-controls="tcp_details-conditional">
          {% endifequal %}
          <label class="govuk-label govuk-radios__label" for="id_is_in_contact_with_tcp_0">
            {{ form.is_in_contact_with_tcp.subwidgets.0.choice_label }}
          </label>
        </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="tcp_details-conditional">
          <p class="govuk-body">Provide the contact details of the TCP, including at least an email address or a phone number</p>
          {% include "core/govt_uk_form_field.html" with field=form.tcp_name %}
          {% include "core/govt_uk_form_field.html" with field=form.tcp_email %}
          {% include "core/govt_uk_form_field.html" with field=form.tcp_mobile_number %}
        </div>

        <div class="govuk-radios__item">
          {% ifequal form.is_in_contact_with_tcp.value|cut:"'" form.is_in_contact_with_tcp.subwidgets.1.data.value|cut:"'" %}
            <input class="govuk-radios__input" id="id_is_in_contact_with_tcp_11" name="is_in_contact_with_tcp" type="radio" value="False" checked>
          {% else %}
            <input class="govuk-radios__input" id="id_is_in_contact_with_tcp_12" name="is_in_contact_with_tcp" type="radio" value="False">
          {% endifequal %}
          <label class="govuk-label govuk-radios__label" for="id_is_in_contact_with_tcp_1">
            {{ form.is_in_contact_with_tcp.subwidgets.1.choice_label }}
          </label>
        </div>

      </div>
    </fieldset>
  </div>

  {% include "core/govt_uk_form_field.html" with field=form.is_intending_to_exhibit_as_tcp_stand %}
  {% include "core/govt_uk_form_field.html" with field=form.stand_trade_name %}
  {% include "core/govt_uk_form_field.html" with field=form.trade_show_experience_description %}
  {% include "core/govt_uk_form_field.html" with field=form.additional_guidance %}
  {% include "core/govt_uk_form_button.html" with button_class=button_class button_name=button_name button_text=button_text %}
</form>
{% endblock %}
