<table class="{{ class|default:'govuk-table' }}" id="id_table">
  {% for col in table.cols %}<col {{ col }} >{% endfor %}

  {% if table.caption %}
  <caption class="govuk-table__caption">{{ table.caption }}</caption>
  {% endif %}

  {% if table.headers %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      {% for header in table.headers %}
      <th scope="col" class="govuk-table__header app-custom-class">{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% endif %}

  {% for row in table.rows %}
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      {% if row.header %}
      <th scope="row" class="govuk-table__header">{{ row.header|safe }}</th>
      {% endif %}
      {% for cell in row %}
      <td class="govuk-table__cell" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">
        {{ cell.text|default:cell|safe }}
      </td>
      {% endfor %}
    </tr>
  </tbody>
  {% endfor %}

</table>
