{% extends 'viewflow/base_module.html' %}
{% load i18n viewflow viewflow_frontend material_form material_frontend %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a href="{% flowurl activation.flow_class 'index' %}?{{ request|query_back }}">{{ activation.flow_class.process_title }}</a>
<a href="{% flowurl activation.process 'detail' %}?{{ request|query_back }}">#{{ activation.process.pk }}</a>
<a class="active" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">{{ activation.flow_task }} / #{{ activation.task.pk }}</a>
{% endblock %}


{% block content %}
{% block left-panel %}
<div class="left-panel">
  {% block title_card %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ activation.task.flow_task.task_title|default:activation.task.flow_task }}</span>
      <p>Application ID {{ activation.process.grant_application.id }}</p>
      <p>Business name {{ activation.process.grant_application.company.name }}</p>
      <p>Application status {{ activation.process.status }}</p>
    </div>
  </div>
  {% endblock %}

  {% block information_cards %}{% endblock %}

  {% block form_card %}
  <div class="card">
    <dmc-form>
      <form role="form" method="POST" enctype="multipart/form-data">
        {% block task_form %}
        {% if form.fields %}
        <div class="card-content">
          <span class="card-title">{% trans form_heading|default:'Actions' %}</span>
          {% csrf_token %}
          {% form form=form %}{% endform %}
          {{ activation.management_form }}
        </div>
        {% else %}
          {% csrf_token %}
          {% form form=form %}{% endform %}
          {{ activation.management_form }}
        {% endif %}
        {% endblock %}

        <div class="card-action">
          <div class="row">
            {% block task_actions %}
            <div class="col s4">
              <a class="btn btn-flat" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">{% trans 'View task detail' %}</a>
            </div>
            <div class="col s8 right-align">
              <button type="submit" name="_continue" class="btn btn-flat">{% trans 'Confirm and continue with next step' %}</button>
              <button type="submit" name="_done" class="btn primary green darken-4 white-text">{% trans 'Confirm' %}</button>
            </div>
            {% endblock %}
          </div>
        </div>
      </form>
    </dmc-form>
  </div>
  {% endblock %}

</div>
{% endblock %}
{% block right-panel %}
<div class="right-panel">
  {% include_process_data activation.process %}
</div>
{% endblock %}
{% endblock %}
