{% extends 'viewflow/flow/task.html' %}
{% load i18n viewflow viewflow_frontend material_form material_frontend %}


{% block task_form %}

  <table class="striped">
    <thead>
      <tr class="flow-text">
          <th>Question</th>
          <th>Answer</th>
      </tr>
    </thead>
    <tbody>
    {% for field in grantmanagementprocess.grant_application.application_summary %}
      <tr>
        <td>{{ field.key }}</td>
        <td>{{ field.value }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% csrf_token %}
  {% form form=form %}{% endform %}
  {{ activation.management_form }}

{% endblock %}


{% block task_actions %}

  <div class="col s2">
    <a class="btn btn-flat" href="{% url 'grant_applications:application-review' activation.process.grant_application.pk %}">{% trans 'Application' %}</a>
  </div>
  <div class="col s1">
    <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">{% trans 'Detail' %}</a>
  </div>
  <div class="col s9 right-align">
    <button type="submit" name="_continue" class="btn btn-flat">{% trans 'Done and continue on this process' %}</button>
    <button type="submit" name="_done" class="btn primary white-text">{% trans 'Done' %}</button>
  </div>

{% endblock %}
