<fieldset class="govuk-fieldset">

  {% if widget.attrs.details %}
    {% include "core/govt_uk_details.html" with text=widget.attrs.details.text summary_text=widget.attrs.details.summary_text %}
  {% endif %}

  <div class="{{ widget.attrs.class|default:'govuk-radios' }}">
    {% for _, item, _ in widget.optgroups %}
      {% for item_data in item %}

      <div class="govuk-radios__item">
        {% ifequal item_data.value|cut:"'" widget.value.0 %}
          <input class="govuk-radios__input" id="{{ item_data.attrs.id }}" name="{{ widget.name }}" type="radio" value="{{ item_data.value }}" checked>
        {% else %}
          <input class="govuk-radios__input" id="{{ item_data.attrs.id }}" name="{{ widget.name }}" type="radio" value="{{ item_data.value }}">
        {% endifequal %}
        <label class="govuk-label govuk-radios__label" for="{{ item_data.attrs.id }}">
          {{ item_data.label }}
        </label>
        {% if item_data.hint %}
          <div id="{{ item_data.attrs.id }}-item-hint" class="govuk-hint govuk-radios__hint">
            {{ item_data.hint }}
          </div>
        {% endif %}
      </div>

      {% endfor %}
    {% endfor %}
  </div>
</fieldset>
