<fieldset class="govuk-fieldset">

  {% if widget.attrs.details %}
    {% include "core/govt_uk_details.html" with text=widget.attrs.details.text summary_text=widget.attrs.details.summary_text %}
  {% endif %}

  <div class="{{ widget.attrs.class|default:'govuk-radios' }}">
    {% for _, item, _ in widget.optgroups %}
      <div class="govuk-radios__item">
        {% ifequal item.0.value|cut:"'" widget.value.0 %}
          <input class="govuk-radios__input" id="{{ item.0.attrs.id }}" name="{{ widget.name }}" type="radio" value="{{ item.0.value }}" checked>
        {% else %}
          <input class="govuk-radios__input" id="{{ item.0.attrs.id }}" name="{{ widget.name }}" type="radio" value="{{ item.0.value }}">
        {% endifequal %}
        <label class="govuk-label govuk-radios__label" for="{{ item.0.attrs.id }}">
          {{ item.0.label }}
        </label>
        {% if item.0.hint %}
          <div id="{{ item.0.attrs.id }}-item-hint" class="govuk-hint govuk-radios__hint">{{ item.0.hint|linebreaksbr }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</fieldset>
